{% extends 'base.html'%}

{%block head%}
<title>Send Mail Page</title>
{%endblock%}

{%block body%}
<div class='content'>
    <h1 style='text-align: center'>Contacts</h1>
    <div class='content'>
        <form action='/sendMail/{{contact.id}}' method='POST' enctype="multipart/form-data">
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name='subject'>
            </div>
            <div class="form-group">
                <label for="recipient">Recipients</label>
                {% for email in emails%}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="form-check-input" id="recipient" name='recipient'
                        value='{{email.email}}' multiple>{{email.name,email.email}}
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control" id="formGroupExampleInput" name='body' rows="15">
                    <div>
                    您好：<br>
                    附檔為9月份對帳單，<br>
                    確認無誤之後於本/次月20號前將<span style="text-decoration:underline;font-weight:500">發票</span>及<span style="text-decoration:underline;font-weight:500">對張單第一頁</span>寄送至 Dcard ，以利後續出帳。
                    <h3 style='color:red'>＊新版對帳單如有任何問題，請洽詢各業務＊</h3>
                    <h3 style='color:red'>＊新版對帳單如有任何問題，請洽詢各業務＊</h3>
                    <h3 style='color:red'>＊新版對帳單如有任何問題，請洽詢各業務＊</h3>
                    寄件資訊：
                    好物研究室 林貝樺Joanne 0988771733<br>
                    台北市大安區光復南路 102 號 14樓 Dcard<br>
                    ＊請務必加上Dcard英文，同層樓有不同辦公室<br>
            
                    另外，想請您撥出五分鐘，幫我們填寫一份<a href="https://welcomedcardcc.typeform.com/to/g1PND2">意見調查單。</a><br>
                    您的寶貴建議，將會幫助我們改善優化我們的系統。<br>
                    謝謝
                    </div>
                    <br>
                    <div>
                        <div>--</div>
                        <div style="color: #222;">E-commerce Operation  Specialist</div>
                        <div style="color: #222;">Joanne Lin</div>
                        <img src="https://ci6.googleusercontent.com/proxy/8v1AfoLiE2EB1R3Ya4KJEnkyoXxFCWY6QapBw4ZtWWPW4EQZPIks5cUmbbp9-CJcj67qpudVLhE1k9dnqDCH7ixcnhrrcR17DmWmTpOg-Di7iimddkHbShf8nx8mGXiuRV_rfM3qbufHzwUhdLz9M62eEnIsuflyYYpGfHs8J8SU0wTfRtNcwzTZfeMsu-qkCkL7pgdsYM8eWK5NXQ=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=1JX8-bf1puPQujrwdHsf949B8OruFfdT5&amp;revid=0B5yVzOJYqpyqNTM3eDlnS0E3WTVJNTBKRDlrSHpoSzFMbHY0PQ" width="96" height="41" class="CToWUd">
                    </div>

                </textarea>
            </div>
            <div class="form-group">
                <label for="upload_file">Upload Files</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name='upload_file' multiple>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
{%endblock%}